html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 0;
  background-color: rgb(238, 238, 238);
}
#container {
  min-height: 100%;
  position: relative;
}

#body {
  padding: 10px;
  padding-bottom: 60px; /* Height of the footer */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
}
/* 
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
} */

/*----------- Navbar------------- */
.list li a span {
  display: inline-block;
  border-right: 2px solid #dcdcdc;
  padding-right: 20px;
  padding: 10px;
  color: gray;
}

.list li:last-child a span {
  border: none;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand:hover {
  background-color: #45906d;
}

.navbar-brand {
  font-size: 24px;
  font-family: sans;
  font-weight: 600;
  background-color: #45906d;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 15%;
  padding: 35px;
  height: auto;
  color: white;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

/* .nav {
  float: right;
  padding: 30px;
  font-size: 18px;
  background-color: white;
} */

.nav > li > a {
  position: relative;
  display: block;
  padding: 0;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(196, 184, 184);
}

.navbar-default {
  background-color: #ffffff;
}

/*----------- Main------------- */

/* .container {
  padding-top: 40px;
  padding-left: 45px;
  margin-left: -5px;
} */

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}

.jumbotron h1 {
  font-size: 32px;
  font-family: sans;
  font-weight: 600;
  color: #45906d;
  margin-top: -30px;
}

.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 0px;
  background-color: white;
  width: 500px;
}
.container {
  margin-left: 35px;
  padding-top: 40px;
}

p {
  line-height: 1.25;
  font-family: sans-serif;
  color: #676565;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
}

/* .jumbotron {
  padding-top: 0;
  padding-bottom: 0;
} */

.my-image {
  float: left;
  padding-right: 20px;
  width: 200px;
  height: 150px;
}

/*-----------Footer------------- */
.footer {
  width: 100%;
  padding: 30px;
  border-top: 10px solid #45906d;
  background-color: #727272;
}

.copy {
  text-align: center;
  color: #b5b4b4;
}

/*--------------------Portfolio------------------------*/
.column {
  float: left;
  width: auto;
  padding: 5px;
  padding-left: 24px;
}

/* Clearfix (clear floats) */
.row::after {
  content: '';
  clear: both;
  display: table;
}

.card-body {
  -ms-flex: 1 1;
  flex: 1 1;
  min-height: 1px;
  padding: 0.25rem;
  position: absolute;
  background-color: aqua;
  width: 100%;
  text-align: center;
  bottom: 10px;
}
.card img {
  width: 13rem;
  height: 150px;
}

/*-----------Media------------- */

/*-----------Media for 768px------------- */

@media only screen and (max-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
    padding: 35px;
    height: auto;
    color: white;
  }

  .container {
    padding-top: 40px;
    padding-left: 20px;
    margin-left: 10px;
    max-width: 100%;
    margin: inherit;
  }

  /* .row {
    margin-right: 0;
    margin-left: -25px;
  } */

  .my-image {
    float: left;
    padding-right: 20px;
    width: 350px;
    height: 250px;
  }

  .jumbotron h1 {
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: 28px;
    font-family: sans;
    font-weight: 600;
    line-height: 0;
    color: #45906d;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 4px solid rgba(0, 0, 0, 0.1);
  }

  .column {
    float: left;
    width: auto;
    padding: 5px;
    /* padding: 40px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    /* margin: 0px auto; */
  }

  .card img {
    width: 16rem;
    height: 200px;
  }

  .column {
    float: left;
    width: auto;
    padding-left: 20px;
  }

  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 5px;
    /* padding-left: 15px; */
    border-radius: 0px;
    background-color: white;
    width: 100%;
  }
}

/*-----------Media for 640px------------- */

@media only screen and (max-width: 640px) {
  .navbar-brand {
    font-size: 24px;
    font-family: sans;
    font-weight: 600;
    background-color: #45906d;
    width: 100%;
  }

  .container {
    margin-left: auto;
  }

  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
    padding: 35px;
    height: auto;
    color: white;
  }

  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
  }

  .navbar .container,
  .navbar .container-fluid,
  .navbar .container-lg,
  .navbar .container-md,
  .navbar .container-sm,
  .navbar .container-xl {
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav > li > a {
    display: flex;
    position: relative;
    display: block;
    padding: 0;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    height: 60px;
  }

  a.navbar-brand {
    text-align: center;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .my-image {
    float: none;
    padding-right: 0px;
    width: 100%;
    height: auto;
  }

  #body {
    padding-bottom: 60px;
    margin: -13px;
  }

  .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 15px;
  }

  .jumbotron p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
  }

  hr {
    margin-top: 3rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 4px solid rgba(0, 0, 0, 0.1);
  }
  .jumbotron h1 {
    font-size: 28px;
    font-family: sans;
    font-weight: 600;
    line-height: 0;
    color: #45906d;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 26px;
    padding-left: 10px;
    border-radius: 0px;
    background-color: white;
    width: 100%;
  }

  .card img {
    width: 100%;
    height: 300px;
  }
  .column {
    float: left;
    width: auto;
    padding-left: 0px;
  }
}
